#coverage_report {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
}

#coverage_report_files {
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    bottom: 0;
    background-color: #eeeeee;
    overflow-y: auto;
}

#coverage_report_files label {
    position: relative;
    height: 34px;
    box-sizing: border-box;
    line-height: 34px;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    display: block;
    white-space: nowrap;
}

#coverage_report_files input {
    display: none;
}

#coverage_report_files span {
    padding: 10px;
}

#coverage_report_files input:checked + span {
    background-color: lightblue;
}

#coverage_report_source {
    position: absolute;
    top: 0;
    left: 400px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

#coverage_report_source > div {
    font-family: monospace;
    white-space: pre;
    font-size: 14px;
    padding: 0 10px;
    display: flex;
}

#coverage_report_close {
    font-size: 40px;
    font-weight: bold;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: inline-block;
}

#mocha .test a.replay {
    position: relative !important;
    top: 0 !important;
    right: initial !important;
    display: inline-block !important;
}

#buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#buttons > div {
    color: white;
    background-color: green;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    font-family: Arial, sans-serif;
}

#error_screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background-color: black;
    white-space: pre-wrap;
    font-family: monospace;
    padding: 20px;
}